* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --gray-300: #E0E0E0;
    --gray-900: #212121;

    --alpha-50: rgba(255, 255, 255, 0.5);
    --alpha-70: rgba(255, 255, 255, 0.3);
    --alpha-80: rgba(255, 255, 255, 0.2);
    --alpha-85: rgba(255, 255, 255, 0.15);
    --alpha-90: rgba(255, 255, 255, 0.1);
    --alpha-95: rgba(255, 255, 255, 0.05);

    background-color: var(--gray-900);
    color: var(--gray-300);
    font-family: 'Inconsolata', monospace;

    width: 100%;
    height: 100vh;
    font-size: 1.25em;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

#loading, #mobile, #too_small {
    width: 100%;
    height: 100%;
    padding-top: 50vh;
}

#loading > *, #mobile > *, #too_small > * {
    text-align: center;
    margin-top: -0.5em;
}

.progress {
    position: relative;
    background-color: var(--alpha-90);
    overflow: hidden;
    width: 360px;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 12px;
}

.progress > div {
    background-color: var(--alpha-80);
    border-radius: 6px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.progress > p {
    z-index: 200;
    position: absolute;
    height: 100%;
    top: .25em;
    left: .5em;
    margin: 0;
}

#input {
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    bottom: 36px;
    right: 36px;
}

#input #buffer {
    background-color: var(--alpha-95);
    border-radius: 6px;
    padding: .5em;
    margin-bottom: .5em;
}

#input #inputLength {
    text-align: right;
}

#logs {
    position: absolute;
    bottom: 36px;
    left: 36px;
}

#logs ul li:nth-child(1) {
    opacity: .2;
}

#logs ul li:nth-child(2) {
    opacity: .4;
}

#logs ul li:nth-child(3) {
    opacity: .6;
}

#logs ul li:nth-child(4) {
    opacity: .8;
}

#meters {
    position: absolute;
    top: 36px;
    right: 36px;
}

#score .change {
    text-align: center;
    font-style: italic;
}

#score .value {
    text-align: center;
    font-weight: bold;
}

#io {
    position: absolute;
    top: 36px;
    left: 36px;
}

#io h4 {
    margin-bottom: 12px;
}

#upgrades {
    position: absolute;
    top: 36px;
    left: 50%;
    width: 0;
}

#upgrades > div {
    margin-left: -200px;
    width: 400px;
    text-align: center;
}

#upgrades h4 {
    margin-bottom: 12px;
}

.upgrade {
    text-align: left;
    padding: .25em;
    background-color: var(--alpha-85);
    border-radius: 6px;
    margin-bottom: 12px;
}

.upgrade.disabled {
    background-color: var(--alpha-95);
    color: var(--alpha-50);
}

.upgrade small {
    font-size: .65em;
    vertical-align: middle;
}

#version {
    position: absolute;
    bottom: .25em;
    right: .25em;
    color: var(--alpha-70);
}

/*
 * ANIMATIONS
 */

.flash {
    animation: flash 1s ease 1;
}

@keyframes flash {
    0% {
        background-color: var(--alpha-70);
    }
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*
 * UNZOOM WHEN SMALLER
 */

#too_small {
    display: none;
}

@media screen and (max-width: 1200px), screen and (max-height: 625px) {
    body {
        transform: scale(.9);
        transform-origin: 0 0;
        width: 111%;
        height: 111vh;
    }
}

@media screen and (max-width: 1080px), screen and (max-height: 563px) {
    body {
        transform: scale(.8);
        transform-origin: 0 0;
        width: 125%;
        height: 125vh;
    }
}

@media screen and (max-width: 960px), screen and (max-height: 500px) {
    body {
        transform: scale(.7);
        transform-origin: 0 0;
        width: 143%;
        height: 143vh;
    }
}

@media screen and (max-width: 840px), screen and (max-height: 438px) {
    body {
        transform: scale(.6);
        transform-origin: 0 0;
        width: 167%;
        height: 167vh;
    }
}

@media screen and (max-width: 720px), screen and (max-height: 375px) {
    #app_container {
        display: none;
    }

    #too_small {
        display: block;
    }
}