* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;

    background-color: var(--gray-900);
    color: var(--gray-300);
    font-family: 'Inconsolata', monospace;

    width: 100%;
    height: 100%;
    font-size: 1.25em;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

#loading, #mobile {
    width: 100%;
    height: 100%;
    padding-top: 50vh;
}

#loading > *, #mobile > * {
    text-align: center;
    margin-top: -0.5em;
}

.progress {
    position: relative;
    background-color: var(--gray-800);
    overflow: hidden;
    width: 360px;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 12px;
}

.progress > div {
    background-color: var(--gray-700);
    border-radius: 6px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.progress > p {
    color: var(--gray-50);
    z-index: 200;
    position: absolute;
    height: 100%;
    top: .25em;
    left: .5em;
    margin: 0;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#input {
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    bottom: 36px;
    right: 36px;
}

#input #buffer {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    padding: .5em;
    margin-bottom: .5em;
}

#input #inputLength {
    text-align: right;
}

#logs {
    position: absolute;
    bottom: 36px;
    left: 36px;
}

#logs ul li:nth-child(1) {
    opacity: .2;
}

#logs ul li:nth-child(2) {
    opacity: .4;
}

#logs ul li:nth-child(3) {
    opacity: .6;
}

#logs ul li:nth-child(4) {
    opacity: .8;
}

#meters {
    position: absolute;
    top: 36px;
    right: 36px;
}

#score .change {
    text-align: center;
    font-style: italic;
}

#score .value {
    text-align: center;
    font-weight: bold;
}

#io {
    position: absolute;
    top: 36px;
    left: 36px;
}

#upgrades {
    position: absolute;
    top: 36px;
    left: 50%;
    width: 0;
}

#upgrades > div {
    margin-left: -200px;
    width: 400px;
    text-align: center;
}

#upgrades li {
    text-align: left;
    padding: .25em;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    margin-top: 12px;
}

#upgrades li.disabled {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--gray-500);
}

#version {
    position: absolute;
    bottom: .25em;
    right: .25em;
    color: var(--gray-700);
}