<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>entr0py</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="application/javascript" src="scripts/globals.js"></script>
    <script type="application/javascript" src="scripts/story.js"></script>
    <script type="application/javascript" src="scripts/game.js"></script>
    <script type="application/javascript" src="scripts/ui.js"></script>
</head>
<body>
<div id="app">
    <div id="logs">
        <ul>
            <li v-for="log,i in logs">
                <span v-if="log" v-html="log"></span><span v-else>&nbsp;</span>
                <span class="blink" v-if="(i == logs.length-1) && logsInput">_</span>
            </li>
        </ul>
    </div>
    <div id="meters" v-if="display.meters">
        <prog v-for="n in steps" :key="n" :percent="getPercent(n)" :text="getText(n)"></prog>
        <div id="score" v-if="display.score">
            <div class="change">+ {{getSum()}} EP</div>
            <br>
            <div class="value" v-bind:style="{'font-size':score.size+'em'}">{{formatNumber(score.value)}} EP</div>
        </div>
    </div>
    <div id="input" v-if="display.input">
        <p v-html="input"></p><br>
        <p id="inputLength">{{data.length}}/256</p>
    </div>
</div>
<script>
  app = new Vue(app);
</script>
</body>
</html>