<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>entr0py</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <!-- Thumbnail metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="entr0py">
    <meta name="twitter:title" content="entr0py"/>
    <meta property="og:description" content="Binary is the key">
    <meta name="twitter:description" content="Binary is the key"/>
    <meta property="og:image" content="http://klemek.github.io/entr0py/thumb.jpg">
    <meta name="twitter:image" content="https://klemek.github.io/entr0py/thumb.jpg"/>
    <meta property="og:image:secure_url" content="https://klemek.github.io/entr0py/thumb.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="1032"/>
    <meta property="og:image:height" content="684"/>
    <meta property="og:url" content="https://klemek.github.io/entr0py/index.html">
    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Fonts and styles -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"
            integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script type="application/javascript" src="scripts/globals.js"></script>
    <script type="application/javascript" src="scripts/story.js"></script>
    <script type="application/javascript" src="scripts/random.js"></script>
    <script type="application/javascript" src="scripts/game.js"></script>
    <script type="application/javascript" src="scripts/ui.js"></script>
</head>
<body>
<div id="loading"><h1>loading...</h1></div>
<div id="mobile" style="display:none"><h2>Sorry, you cannot play on mobile</h2></div>
<div id="app" style="display:none">
    <div id="logs">
        <ul>
            <li v-for="log,i in logs">
                <span v-if="log" v-html="log"></span><span v-else>&nbsp;</span>
                <span class="blink" v-if="(i == logs.length-1) && logsInput">_</span>
            </li>
        </ul>
    </div>
    <div id="meters" v-if="display.meters">
        <prog v-for="n in steps" :key="n" :percent="getPercent(n)" :text="getText(n)"></prog>
        <div id="score" v-if="display.score">
            <div class="change">+ {{getSum()}} EP</div>
            <br>
            <div class="value" v-bind:style="{'font-size':score.size+'em'}">{{formatNumber(score.value)}} EP</div>
        </div>
    </div>
    <div id="input" v-if="display.input">
        <p id="buffer" v-html="input"></p>
        <p id="inputLength">{{data.length}}/256</p>
    </div>
    <div id="io" v-if="display.io">
        <b>I/O module</b><br>
        File:&nbsp;<u>{{random.name}}</u> (level {{random.type}})<br>
        <span v-if="random.type > 0">
            &nbsp;&nbsp;&nbsp;<i>({{random.ep.toFixed(3)}} EP Avg.)</i><br>
            Speed:&nbsp;{{random.speed}}/s (level {{Math.log2(random.speed)}})<br>
            Size:&nbsp;{{random.size}} bits (level {{Math.log2(random.size)}})<br>
        </span>
        <br>
        <i>+ {{formatNumber(score.speed)}} EP/s</i>
    </div>
    <div id="upgrades" v-if="display.upgrades">
        <div>
            <b>Upgrades</b>
            <ul>
                <li id="u_type"
                    v-bind:class="{disabled:game.random.prices.type < 0 || game.data.score < game.random.prices.type}">
                    [4]<span v-if="game.random.prices.type >= 0">&nbsp;Buy <u>{{random.nextType}}</u> ({{formatNumber(random.prices.type)}} EP)</span>
                </li>
                <li id="u_speed"
                    v-bind:class="{disabled:game.random.prices.speed < 0 || game.data.score < game.random.prices.speed}">
                    [5]<span v-if="game.random.prices.speed >= 0">&nbsp;Upgrade speed (x2) ({{formatNumber(random.prices.speed)}} EP)</span>
                </li>
                <li id="u_size"
                    v-bind:class="{disabled:game.random.prices.size < 0 || game.data.score < game.random.prices.size}">
                    [6]<span v-if="game.random.prices.size >= 0">&nbsp;Upgrade size (x2) ({{formatNumber(random.prices.size)}} EP)</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>