<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>entr0py</title>
    <meta property="og:title" content="entr0py">
    <meta property="og:description" content="Binary is the key">
    <meta property="og:image" content="https://klemek.github.io/entr0py/thumb.jpg">
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="1032"/>
    <meta property="og:image:height" content="1032"/>
    <meta property="og:url" content="https://klemek.github.io/entr0py/index.html">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"
            integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script type="application/javascript" src="scripts/globals.js"></script>
    <script type="application/javascript" src="scripts/story.js"></script>
    <script type="application/javascript" src="scripts/game.js"></script>
    <script type="application/javascript" src="scripts/ui.js"></script>
</head>
<body>
<div id="app">
    <div id="logs">
        <ul>
            <li v-for="log,i in logs">
                <span v-if="log" v-html="log"></span><span v-else>&nbsp;</span>
                <span class="blink" v-if="(i == logs.length-1) && logsInput">_</span>
            </li>
        </ul>
    </div>
    <div id="meters" v-if="display.meters">
        <prog v-for="n in steps" :key="n" :percent="getPercent(n)" :text="getText(n)"></prog>
        <div id="score" v-if="display.score">
            <div class="change">+ {{getSum()}} EP</div>
            <br>
            <div class="value" v-bind:style="{'font-size':score.size+'em'}">{{formatNumber(score.value)}} EP</div>
        </div>
    </div>
    <div id="input" v-if="display.input">
        <p id="buffer" v-html="input"></p>
        <p id="inputLength">{{data.length}}/256</p>
    </div>
</div>
<script>
  app = new Vue(app);
</script>
</body>
</html>